<div class="poem">
	<h4>A Minor Bird by Robert Frost</h4>
		<p>I have wished a bird would fly away,
		And not sing by my house all day;

		Have clapped my hands at him from the door
		When it seemed as if I could bear no more.

		The fault must partly have been in me.
		The bird was not to blame for his key.

		And of course there must be something wrong
		In wanting to silence any song.
		</p>
	<h5><a href="http://www.familyfriendpoems.com/poem/a-minor-bird-by-robert-frost#ixzz3h4FRwDYK">Source: Family Friend Poems</a></h5>
</div>

<div ng-app ng-init="firstnum=1;secondnum=2">
  <input type="number" min="0" ng-model="firstnum">
    plus
  <input type="number" min="0" ng-model="secondnum">
    equals 
  <b>{{firstnum + secondnum}}</b>
</div>

