<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Pet Roulette</h1>
  <h4>What kind of friend are you looking for?</h4>
  <p class="lead">
    <div ng-init="location='98112'">
        <p>
          <label for="location">Zip Code:
            <input type="text" name="location" ng-model="location">
          </label>
          <br>
          <label for="animal">Animal Type:
            <select name="select" name="animal" ng-model="animal">
              <option value="cat">Cat</option> 
              <option value="dog" selected>Dog</option>
              <option value="pig">Pig</option>
            </select>
          </label>
          <label for="size">Size:
            <select name="select" name="size" ng-model="size">
              <option value="S">Small</option> 
              <option value="M" selected>Medium</option>
              <option value="L">Large</option>
              <option value="XL">XLarge</option>
            </select>
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Find A Pet</button>
        </p>
      </div>


      <dl>
        <hr>
<!--     <div ng-if="storage.savedPets">
            <h4>You Should Adopt:</h4>
          <ul class="saved-pets-list">
            <li ng-repeat="pets in storage.savedPets"> -->
                <img src="{{current.petfinder.pets.pet.media.photos.photo[3].$t}}" alt="Adoptable animal photo"></p>
                <h2>{{current.petfinder.pets.pet.name.$t}}</h2>
                <h5>Breed:  {{current.petfinder.pets.pet.breeds.breed.$t}}</h5>
                <h5>Age:  {{current.petfinder.pets.pet.age.$t}}</h5>
                <h5>Size:  {{current.petfinder.pets.pet.size.$t}}</h5>
                <dd>{{current.petfinder.pets.pet.description.$t}}</dd>
                <br>
            <p><button class="btn btn-sm btn-primary" ng-click="savePet(currentPet)">Save Pet</button></p>
<!--        </li>
        </ul> 
      </div> -->
      </dl>
    </div>
  </p>
</div>